# Node.js
node_modules/

npm-debug.log
yarn-error.log

# Backend
/server/node_modules/
/server/build/

# Frontend
/client/node_modules/
/client/build/

# Environment variables
.env
.db

# IDE
.vscode/

# Logs
logs/
*.log

# Dependency lock files
# package-lock.json
# yarn.lock

# macOS
.DS_Store

# Windows
Thumbs.db
dump.rdb