DATABASE="your-mongodb-url"
PORT=4000

JWT_SECRET=your-jwt-secret
JWT_REFRESH_SECRET = your-jwt-refresh-secret

DB_NAME=TutorTrek
NODE_ENV=development
ORIGIN_PORT=3001

GOOGLE_AUTH_CLIENT=your-google-auth-client-id

EMAIL_USERNAME=your-email@example.com
EMAIL_PASSWORD=your-email-password
FROM_EMAIL = your-from-email

AWS_ACCESS_KEY = access-key
AWS_SECRET_KEY = secret-key
AWS_BUCKET_REGION = bucket-region
AWS_BUCKET_NAME = bucket-name
CLOUDFRONT_DISTRIBUTION_ID = your-id

STRIPE_PUBLISHABLE_KEY = your key
STRIPE_SECRET_KEY = your secret key


