DATABASE="your-mongodb-url"
PORT=4000
JWT_SECRET=your-jwt-secret
DB_NAME=TutorTrek
NODE_ENV=development
ORIGIN_PORT=3001
GOOGLE_AUTH_CLIENT=your-google-auth-client-id
EMAIL_USERNAME=your-email@example.com
EMAIL_PASSWORD=your-email-password
